<div class="admin-container">

  <div class="header">
    <h1>Tela do Administrador</h1>
    <p>
      Visualize os dados financeiros e desempenho dos gerentes
    </p>
  </div>

  <div *ngIf="carregando" class="loading">
    Carregando dados dos gerentes...
  </div>

  <div *ngIf="erro" class="error">
    {{ erro }}
  </div>

  <div class="cards-grid" *ngIf="!carregando && !erro">
    @for (gerente of resumoGerentes; track gerente.nome) {
      <div class="gerente-card">
        <div class="card-topo">

          <div class="avatar">
            {{ gerente.nome.charAt(0) }}
          </div>

          <div>
            <h2>{{ gerente.nome }}</h2>
            <span class="clientes">
              {{ gerente.totalClientes }} clientes
            </span>
          </div>

        </div>

        <div class="metricas">
          <div class="metrica positivo-card">
            <span class="label">
              Total Positivo
            </span>

            <strong>
              R$ {{ gerente.totalPositivo.toFixed(2) }}
            </strong>

          </div>

          <div class="metrica negativo-card">
            <span class="label">
              Total Negativo
            </span>
            <strong>
              R$ {{ gerente.totalNegativo.toFixed(2) }}
            </strong>
          </div>
        </div>
      </div>

    } @empty {

      <div class="sem-gerentes">
        Nenhum gerente encontrado.
      </div>

    }
  </div>
</div>